*/*/node_modules*
Dockerfile*
docker-compose*
*/docker*
.dockerignore
.env
.git
.gitignore
.editorconfig
.prettierrc
.next
.npmrc
.vscode
apps
coverage
dev
dist
libs
tmp
tools
docs
npm-debug.log
LICENSE
README.md
notes.md
