# set to 'proxy' or 'standalone' - if proxy (i.e behind reverse proxy):
# - app/express will trust X-Forwarded-* headers
# - app will NOT use 'compression' middleware (i.e. assume that compression is offloaded from app by proxy/load-balancer)
DEVOPS_DEPLOY_MODE="proxy"

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
