# compiled output
/dist
/node_modules
/cdk/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# os-specific
.DS_Store

# test
/coverage
/.nyc_output

# misc development environments
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# vscode development environment
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# project
.env
/notes
notes.md
todos.md

# temporary
/docs/wip
